/* Хедер */
h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  line-height:28px;
}
h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  line-height:28px;
}

.conteiner{
   padding:15px;
   width: 1100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
header {
   display: flex;
   height: 100px;
   background-color: #128C7E;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   align-items: center;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  /* margin:0 0 0 55px; */
  padding: 20px 0 5px;
  /* text-align: left; */
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1.5px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 15px 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #eeeeee;}
.menu-main a.current, .menu-main a:hover{color: #ffffff;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  right: 50%;
  bottom: 5px;
  left: 50%;
  background: #ffffff;
  transition: .3s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
header .fa{
  color: rgb(255, 255, 255);
  margin-right: 6px;
  font-size: 16px;
}
header .fa-star{
  color: rgb(248, 245, 87);
  font-size: 20px;
}
/* Хедер */

/* main */
/* форма */

main {
  font-family: "Montserrat", "Helevtica", sans-serif;
  position: relative;
  padding: 5% 3%;
  min-height: 90vh;
  background-color: #fafaef;
  color: #4b4848;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: background-color 1.25s ease-in-out;
}
main .desk {
  max-width: 60%;
  padding-top: 15px;
  text-align: justify;
}
main.is-focus {
  background-color: #bcf7bcad;
}
.main-container{
  padding:15px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-wrapper{
  display: flex;
  flex-wrap: nowrap;
}
.number-wrapper{
  position: relative;
}
.title-container {
  position: absolute;
  top: -10%;
  left: 0%;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  transform: translate(0%, -50%);
}
.title-container .title {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  transition-delay: 0.25s;
  margin: 0;
  color: #0c7a6e;
  opacity: 0;
  visibility: hidden;
  transition: .5s opacity, .5s visibility, transform 0.15s ease;
}

.is-focus .title-container .title {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .5s opacity, .5s visibility, transform 0.35s ease;
}

.field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 330px;
  height: 40px;
}

.icons-container {
  position: absolute;
  z-index: 999;
  top: 11px;
  right: -25px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-200%);
  border-radius: 50%;
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: #6078ea;
  border-left-color: #6078ea;
  border-bottom-color: #6078ea;
  transition: opacity 0.2s ease;
}
.icon-close .x-up {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-up:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 50%;
  height: 2px;
  background-color: #6078ea;
  transform: rotate(45deg);
}
.icon-close .x-down {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-down:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50%;
  height: 2px;
  background-color: #6078ea;
  transform: rotate(-45deg);
}
.icon-search {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  background-image: url("/img/favicon/android-chrome-512x512.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.field {
   border: 0;
   /* width: 100%; */
   /* height: 100%; */
   padding: 10px 20px;
   background: white;
   border-radius: 3px;
   box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
   transition: all 0.4s ease;
}
.field:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}
.field:focus + .icons-container .icon-close {
  opacity: 1;
  transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
  opacity: 0;
  transform: translateX(200%);
}
.schare {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.schare h2{
  font-size:20px;
  font-weight: 800;
  margin: 0;

}
/* форма */
/* info */
.info-wrapper {
  display:flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}
.info{
  width: 80%;
  padding: 30px;
}
.info p{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  line-height:22px;
  margin-top: 10px;;
}
h3{
  padding-right: 20px;
  max-width: 80%;
  font-size: 12px;
  text-align: right;
}
.info-wrapper img {
  width: 250px;
}
/* info */
/* main */
/* demo */
.iti__hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 55px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

button {
  color: #FFF;
  background-color: #128C7E;
  border: 1px solid #128C7E; }
  button:hover {
    background-color: #0c7a6e;
    border-color: #0f7e71;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }
/* demo */
/* footer */
footer{
  background-color:#0c7a6e;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 3;
}
footer a:hover {
  color: #dacd20;
  text-decoration: underline;
}

footer a {
  color: #e7ffae;
  text-decoration: none;
  background-color: transparent;
}
footer a {
  text-decoration: none;
}
footer .fa{
  color:#fa5db3
}
/* footer */

/* social */
.social{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.social-btn{
  width: 50px;
  height: 50px;
  border: solid 2px hsl(0, 1%, 27%);
  border-radius: 50px;
  box-shadow: 0 0 5px #07070762;
  color: #16D9E3;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 2;
  background: #414c58 ;
}
.social-btn:active{
  width: 60px;
  height: 60px;
  transition: 0;
}
.social input{
  display: none;
}
.social-link{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
}
.social-link:hover{color: #fff;}

.facebook{background: rgb(60, 69, 192);}
.whatsApp{background: #327735;}
.telegram{background: #498fb8;}

.social input:checked ~ .facebook{
  transform: translate(0,-65px);
}
.social input:checked ~ .whatsApp{
  transform: translate(45px,-45px);
  transition-delay: 150ms;
}
.social input:checked ~ .telegram{
  transform: translate(65px,0px);
  transition-delay: 300ms;
}
/* social */

@media (max-width: 480px) {
  header{
    height:60px
  }
  .logo img {
    width: 80%;
  }
  .info{
    padding: 0 20px 0 0;
  }
  h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    line-height: 20px;
  }

  .info p {
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
      line-height: 14px;
      margin-top: 10px;
  }
  .info h3 {
    padding-top: 20px;
    font-size: 10px;
    text-align: right;
  }
  .field{
    width: 200px;
  }
  .img img{
    width: 140px;
  }
  .main-container{
    padding-bottom: 0px;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .number-wrapper{
    margin-top: 30px;
    margin-left: 0px;
  }
  .schare h2 {
    font-size: 14px;
    font-weight: 600;
  } 
  .info-wrapper{
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width : 480px) and (max-width : 768px)  {
  .main-container{
    margin-top: 20px;
    padding-bottom: 0px;
    flex-direction: column-reverse;
  }
  .info-wrapper{
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .number-wrapper{
    margin-top: 30px;
    margin-left: 0px;
  }
  .img img{
    width: 160px;
  }
  .schare h2 {
    font-size: 14px;
    font-weight: 600;
  } 
  .info-wrapper{
    width: 100%;
    margin-right: 50px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
    .main-container{
      flex-direction: column;
    }
    .main-container{
      margin-top: 20px;
      padding-bottom: 0px;
      flex-direction: column-reverse
    }
    .img img{
      width: 200px;
    }
    .info-wrapper{
      width: 100%;
      margin-right: 20px;
    }
    .number-wrapper{
      margin-top: -6%;
      margin-left: -38%;
    }
}
/* бургер меню */
@media only screen and (max-width: 992px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
  }
  
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
 
  }
  
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .header {
    position: static;
  }
  
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header__icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    z-index: 6;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #128C7E;
    /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    width: 250px;
    transform: translateX(250px);
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #59e7d74f;
  }
  
  .with--sidebar .site-pusher {
    transform: translateX(-250px);
  }
  .with--sidebar .site-cache {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
